@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

.tittle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 539px;
    height: 180px;
}

header {
    overflow: hidden;
    background-color: yellow;
    width: 250px;
    margin: auto;
    border-radius: 50px 50px 50px 50px;
}

.menu {
    font-size: 20px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: black;
    padding: 0px 0px 0px 20px;
    margin: 15px;
}

.menu a:hover{
    font-size: 23px;
}

body {
    background-image: url("./images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    max-height: 250px;
    border-radius: 50px;
}

.bigContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 50px;
}

.item:nth-child(1){
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.item:nth-child(2){
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.item:nth-child(3){
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.photo:nth-child(1){
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    border-radius: 50px;
}

.information:nth-child(2){
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background-color: yellowgreen;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: black;
    width: 250px;
    border-radius: 50px;
    margin-top: 15px;
}

.information >p {
    margin: 3px 20px 3px 10px;
}

.seeall {
    background-color: yellow;
    border-radius: 50px 50px 50px 50px;
    width: 100px;
    text-align: center;
    font-family: 'ZCOOL kuaile', cursive;
    color: black;
    padding: 10px 15px;
}

.seealldiv {
    margin: auto;
    margin-top: 30px;
    width: 100px;
}

@media only screen and (max-width:540px) {
  .tittle {
      max-width: 70%;
      height: auto;
  }

  header {
      width: 50%;
  }

  .information {
      margin-bottom: 35px;
   }
}

@media only screen and (min-width:1040px) {

}

/*Desde aquí lo propio del html 3*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin-top: 25px;
}

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    color: black;
    background-color: yellowgreen;
    text-align: center;
    font-family: 'ZCOOL kuaile', cursive;
    padding: 5px 10px;
    border-radius: 10%;
    margin-left: 35px;
}